.whole {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 500px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 20px;
    padding: 2%;
}

.input {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.output {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}
